::-moz-selection {
  background: #ffc93b;
}
::selection {
  background: #ffc93b;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  background-color: #dad8d8;
}
body {
  font-family: "Comic Sans MS", "Comic Sans", cursive, apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.28571429em;
  margin: 0 0 1rem 0;
  font-weight: bold;
  padding: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
h1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0;
}
h2 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.25em;
}
h3 {
  font-family: "Arial", sans-serif;
  letter-spacing: 0.01em;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}
section {
  padding: 1em 0;
}
p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
strong {
  font-weight: 600;
}
ul,
ol {
  list-style: none outside none;
  padding-left: 1.5em;
  margin: 0;
}
ol {
  counter-reset: ol-counter;
}
li {
  list-style: none outside none;
}
ul > li::before {
  content: "●";
  font-family: "Arial", sans-serif;
  float: left;
  width: 1.5em;
  margin-left: -1.5em;
  text-align: center;
}
ol > li::before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  float: left;
  width: 1rem;
  border-radius: 0.25em;
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: 0.7em;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-1.5rem + 0.5rem / 2);
  height: 1rem;
  margin-top: calc((1.4285rem - 1rem) / 2);
}
ol.inverted > li::before {
  background: black;
  color: white;
  font-weight: normal;
}
a {
  color: rgb(160, 100, 10);
  background-color: transparent;
  text-decoration: none;
}
a.language:hover span {
  text-decoration: underline;
}
code {
  border: 1px solid #bdbdbd;
  padding: 0 0.25em;
  border-radius: 3px;
  background: #eee;
  font-size: 95%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

canvas{
  position: absolute;
  /* background: transparent; */
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
}

/* Remove the border on images inside links in IE 10 */
img {
  border-style: none;
}

/* Change the font styles in all browsers, remove the margin in Firefox and Safari */
button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;

  /* Show the overflow in IE and Edge */
  overflow: visible;
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE */
button {
  text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari	*/
button,
[type="button"] {
  -webkit-appearance: button;
  appearance: button;
}

/* Remove the inner border and padding in Firefox	*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore the focus styles unset by the previous rule */
button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Add the correct box sizing in IE 10, remove the padding in IE 10 */
[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* Article */
article {
  max-width: 100%;
  margin-left: 7%;
  margin-right: 7%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  article {
    width: 723px;
    margin: calc((100% - 723px) / 3.5) auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  article {
    width: 933px;
    margin: calc((100% - 933px) / 3.5) auto;
  }
}
@media only screen and (min-width: 1200px) {
  article {
    width: 1127px;
    margin: calc((100% - 1127px) / 3.5) auto;
  }
}

/* Page */
.page {
  position: relative;
  padding: 3em;
  background: white;
  box-shadow: 0 0 15px 0 rgba(34, 36, 38, 0.2);
  transition: box-shadow 0.2s linear;
}
@media only screen {
  .page:hover {
    box-shadow: 0 0 15px 0 rgba(34, 36, 38, 0.3);
  }
  .page:hover > .grid > .row:first-child{
    background-color: #ffc93b;
    transition: background-color 0.05s linear;
  }
  .page:hover > .grid > .row{
    outline: 10px solid #ffc93b;
  }
  .page:hover >.grid > .row > [class*="sixteen wide"].column{
    background-color: #ffc93b;
    transition: background-color 0.05s linear;
  }
}
@media only screen and (max-width: 767px) {
  .page {
    padding: 0;
  }
  .page:hover > .grid > .row:first-child{
    background-color: white;
    transition: background-color 0.05s linear;
  }
  .page:hover > .grid > .row{
    outline: 10px none #ffc93b;
  }
  .page:hover >.grid > .row > [class*="sixteen wide"].column{
    background-color: white;
    transition: background-color 0.05s linear;
  }
}

/**
 * # Semantic UI - 2.4.2
 * https://github.com/Semantic-Org/Semantic-UI
 * https://www.semantic-ui.com/
 * Copyright 2014 Contributors
 * Released under the MIT license
 * https://opensource.org/licenses/MIT
 */
.grid {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  display: block !important;
}
.grid .grid {
  margin-left: -1em;
  margin-right: -1em;
}

/* Rows */
.grid > .row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
  align-items: stretch;
  width: 100% !important;
  padding: 1rem 0;
}
.row:first-child {
  padding-bottom: 4em;
}
@media only screen and (max-width: 767px) {
  .row:first-child {
    padding-bottom: 0em;
    background-color: #ffc93b;
  }
  .grid > .row{
    outline: 10px solid #ffc93b;
  }
}
.row:last-child {
  padding-top: 2.5em;
}

/* Columns */
/* Standard 16 column */
.grid > .column:not(.row),
.grid > .row > .column {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}
.grid > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Columns */
/* Vertical padding when no rows */
.grid > .column:not(.row) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grid > .row > .column {
  margin-top: 0;
  margin-bottom: 0;
}

/* Assume full width with one column */
.grid > .column:only-child,
.grid > .row > .column:only-child {
  width: 100%;
}

/* Column Width */
.grid > .row > [class*="five wide"].column,
.grid > .column.row > [class*="five wide"].column,
.grid > [class*="five wide"].column,
.column.grid > [class*="five wide"].column {
  width: 31.25% !important;
}
.grid > .row > [class*="six wide"].column,
.grid > .column.row > [class*="six wide"].column,
.grid > [class*="six wide"].column,
.column.grid > [class*="six wide"].column {
  width: 37.5% !important;
}
.grid > .row > [class*="ten wide"].column,
.grid > .column.row > [class*="ten wide"].column,
.grid > [class*="ten wide"].column,
.column.grid > [class*="ten wide"].column {
  width: 62.5% !important;
}
.grid > .row > [class*="sixteen wide"].column,
.grid > .column.row > [class*="sixteen wide"].column,
.grid > [class*="sixteen wide"].column,
.column.grid > [class*="sixteen wide"].column {
  width: 100% !important;
}

/* Center Aligned */
[class*="center aligned"].grid > .column,
[class*="center aligned"].grid > .row > .column,
.grid > [class*="center aligned"].row > .column,
.grid > [class*="center aligned"].column.column,
.grid > .row > [class*="center aligned"].column.column {
  text-align: center;
}

/*Specific column styles*/
.grid > .row > [class*="five wide"].column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .grid > .row > [class*="five wide"].column {
    align-items: center;
  }
  .grid > .row > [class*="sixteen wide"].column{
    background-color: #ffc93b;
  }
}

/* Stackable */
@media only screen and (max-width: 767px) {
  .stackable.grid > .row > .wide.column,
  .stackable.grid > .wide.column,
  .stackable.grid > .column.grid > .column,
  .stackable.grid > .column.row > .column,
  .stackable.grid > .row > .column,
  .stackable.grid > .column:not(.row),
  .grid > .stackable.row > .column {
    width: 100% !important;
    padding: 0.5em !important;
  }
}

/* Avatar */
.avatar-wrapper {
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  position: relative;
  display: block;
  flex: 1 0 auto;
  max-width: 15rem;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .avatar-wrapper {
    padding: 0;
  }
}

/* Introduction*/
.intro {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1em 0;
}

/* Language */
.language {
  font-weight: 600;
}

/* Labels */
.labels > .label {
  background-color: #e8e8e8;
  border-radius: 0.28571429rem;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: block;
  float: left;
  font-size: 0.78571429rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5em;
  padding: 0.5833em 0.833em;
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
}
.labels > .label:hover {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.8);
}
.labels > .label:not(:last-child) {
  margin-right: 0.5em;
}

/* Name*/
.name {
  font-family: "Stardos Stencil", cursive;
  font-weight: 500;
  font-size: 4em;
}

/* Job */
.job {
  margin: 1rem 0;
  font-size: 1.3em;
  font-weight: 400;
}

/* Contacts */
.contacts {
  list-style: none outside none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 400;
}
.contacts li {
  margin: 0.5em 1em 0.5em 0;
}
.contacts li::before {
  display: none;
}
.contacts li a {
  color: black;
  transition: color 0.2s ease-in-out;
}
.contacts li a span {
  vertical-align: middle;
}
.contacts li a:hover {
  color: #dad8d8;
}
.contacts li a.website {
  display: none;
}
.contacts li a .icon {
  fill: currentColor;
  height: 2rem;
  vertical-align: text-bottom;
}

@media only screen and (max-width: 767px) {
  .contacts li {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .contacts {
    margin-top: 1em;
    flex-direction: column;
  }
}

/* Native <details> element styling */
details {
  display: block;
}
details > summary::-webkit-details-marker {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
details > summary {
  display: list-item;
  cursor: pointer;
}
details > div {
  margin-top: 0.5em;
}
details > div::after {
  content: " ";
  clear: both;
  display: block;
}

/* Alternative to <details> compatible with Safari */
.details > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  transition: 0.2s;
  cursor: pointer;
  width: 1.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  height: 1.5em;
  vertical-align: top;
  outline: none;
}
.details > input::after {
  content: " ";
  border-top: 0.35em solid transparent;
  border-bottom: 0.35em solid transparent;
  border-left: 0.5em solid black;
  position: relative;
  width: 0.5em;
  height: 0.7em;
  cursor: pointer;
}
.details > input:checked {
  transform: rotate(90deg);
}
.details > label.summary {
  cursor: pointer;
}
.details > input:checked ~ div {
  display: block;
}
.details > div {
  display: none;
}
.details > div.labels {
  margin-top: 0.5em;
}
.details > div::after {
  content: " ";
  clear: both;
  display: block;
}

/* Details as a standalone block */
div.details > input:first-child {
  float: left;
}
div.details > input:first-child + label {
  width: calc(100% - 1.5em);
  padding: 0;
  display: inline-block;
}
div.details > input:first-child + label + .details-body {
  padding-left: 1.5em;
}

/* Details as a list item */
li.details {
  list-style-type: none;
}
li.details::before {
  display: none;
}
li.details > input {
  float: left;
  margin-left: -1.9em;
}

/* Highlighted item */
.highlighted {
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

/* Bordered list item */
li.bordered {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  padding: 0.5em;
  transition: all 0.2s linear;
}
li.bordered:hover {
  background: #fafafa;
}
li.bordered > ul > li.details > div,
li.bordered > ul > details > div {
  padding: 0.5em 0.5em 0 2em;
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 0.5em;
  margin-left: -2em;
  margin-right: -0.5em;
}

/* Timeline */
.timeline {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.timeline:not(:last-child) {
  margin-bottom: 1em;
}
.timeline > li::before {
  display: none;
}
.timeline > li:not(:last-child) {
  margin-bottom: 1em;
}
.timeline > li p {
  margin: 0;
}

.show-items,
.hide-items{
  text-align: center;
  font-weight: 600;
  line-height: 1em;
  margin: 0;
}
.show-items:hover,
.hide-items:hover{
  color: #dad8d8;
  text-shadow: #000000 0 0 3px;
  cursor: pointer;
}
.hide-items,
.show-items + ul{
  display: none;
}

/*Honors*/
ul.marked > li::before {
  display: inline-block;
  margin-left: -0.5em;
}

.tags.bulleted .tag:not(:last-child)::after {
  content: "●";
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  margin: 0 0.25em 0 0.25em;
}

/* Smiley*/
.smiley-story {
  margin-bottom: 1.5em;
  padding: 0;
}
.smiley-message {
  display: flex;
  flex-direction: column;
  line-height: 1.9em;
}
.smiley-message > span{
  padding-left: 0.5em;
  outline: 0.1em solid rgb(160, 100, 10);
}
.smiley-message > span:first-child {
  padding-left: 1em;
  background-color:rgb(160, 100, 10);
  color: white;
}
.smiley-message > span > span:last-child{
  padding: 0 0.5em;
  border-radius: 10em;
  background-color: #dad8d8;
}

/*Quotes*/
.quotes{
  margin-left: -0.4em;
}
.quotes > li > p{
  display: flex;
  flex-direction: column;
}
.quotes > li:not(:last-child){
  margin-bottom: 1em;
}
.quotes cite{
  font-weight: 600;
}


/* Print */
@media print {
  .page,
  .page[style] {
    padding: 0;
    box-shadow: none;
    border-color: transparent !important;
  }
  .grid {
    display: block;
  }
  .avatar-wrapper {
    padding: 0;
  }
  .contacts {
    margin-top: 1em;
  }
  .contacts li a.website {
    display: block;
  }
  .credits {
    display: none;
  }
}

/* Color */
.color {
  cursor: pointer;
  white-space: nowrap;
  background: inherit;
  color: inherit;
  font: inherit;
  border: none;
  margin: 0;
  padding: 0;
}
.color::before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  margin: 0.27em;
  height: 0.88em;
  width: 0.88em;
  vertical-align: top;
  position: relative;
}
.color.midnightblue::before {
  background-color: midnightblue;
}
.color.chartreuse::before {
  background-color: chartreuse;
}

/* Audio button */
button.audio {
  cursor: pointer;
  background: inherit;
  font: inherit;
  border: none;
  margin: 0;
  padding: 0;
}
button.audio svg {
  height: 16px;
  width: 16px;
  vertical-align: text-top;
}

/* Resume */
#resume {
  color: inherit;
  transition: 0.2s;
  opacity: 0.75;
  padding: 0 0.25em 0.25em 0.25em;
  margin-left: -0.25em;
  display: inline-block;
}
#resume:hover {
  opacity: 1;
}
#resume .dots {
  background: #808080;
  color: white;
  padding: 0 0.2em;
  border-radius: 3px;
  height: 1em;
  line-height: 1em;
  margin-top: 0.2857142857em;
  float: left;
  margin-right: 0.2857142857em;
}
#resume .dots .dot {
  float: left;
  height: 0.42857142857em;
  width: 0.42857142857em;
  background: white;
  border-radius: 100%;
  margin-top: 0.2857142857em;
  vertical-align: top;
}
#resume .dots .dot:not(:last-child) {
  margin-right: 0.2142857em;
}

/* Close */
.close {
  text-indent: -9999px;
  position: absolute;
  z-index: 1;
  top: 2em;
  left: 2em;
  display: inline-block;
  width: 4em;
  height: 4em;
  overflow: hidden;
}
.close::before,
.close::after {
  content: " ";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: white;
  height: 1px;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}

/* Credits */
.credits {
  display: flex;
  flex-direction: column;
  width: 15em;
  text-align: center;
  line-height: 1.3em;
  padding-top: 1em;
  color: #333126;
  opacity: 0.35;
  transition: opacity 0.2s linear;
}
.credits:hover {
  opacity: 1;
}
.credits > a {
  color: #ffe602;
  text-shadow: #333126 0 0 2px;
}

/* Hide header, reveal footer */
header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  background: #dad8d8;
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
}
main {
  margin-top: 4em;
  margin-bottom: 4em;
  z-index: 2;
  background: #dad8d8;
  position: relative;
}
footer {
  font-family: "Arial", sans-serif;
  height: 4em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #dad8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  header {
    display: none;
  }
  main {
    margin-top: 7%;
  }
}
@media print {
  header,
  footer {
    display: none;
  }
  main {
    margin-top: 0;
    margin-bottom: 0;
  }
}
